{% extends "bootstrap/base.html" %}

{% block title %}Parcial App{% endblock %}

{% set navigation_bar = [
    (url_for('private_main'), 'private', 'Inicio'),
    (url_for('product_view'), 'products', 'Productos'),
    (url_for('client_view'), 'clients', 'Clientes'),
    (url_for('best_clients_view'), 'best_clients', 'Mejores clientes'),
    (url_for('most_products_view'), 'most_productos', 'Productos mas vendidos')
] -%}

{% set active_page = active_page|default('index') -%}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('private_main') }}">Droggery</a>
            {% if session.username %}
                <ul class="nav navbar-nav">
                    {% for href, id, caption in navigation_bar %}
                        {% set class = 'nav-item' %}
                        {% if(id == active_page) %}
                            {% set class = class ~ ' active' %}
                        {% endif %}
                        <li class="{{ class }}">
                            <a href="{{ href }}">{{ caption }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if session.username %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session.get('username') }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('logout') }}">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
{% endblock %}

{% block scripts %}
{{ super() }}
{% block custom_scripts %}
{%- endblock custom_scripts %}
{%- endblock scripts %}