{% extends "base.html" %}

{% block content %}
<div class="container" id="app">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Los clientes que mas compraron</h1>
        </div>
    </div>
    {% if bestClients %}
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Dinero</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in bestClients %}
                            <tr>
                                <td>{{ c['name'] }}</td>
                                <td>{{ c['amount'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <button class="btn btn-primary" @click="exportCsv">Exportar a CSV</button>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
<script src="https://unpkg.com/vue"></script>

<script>
    let data = {{ bestClients|safe }};
    const bestClients = flat(data);

    function flat(arrData) {
        let arr = [];
        arrData.forEach(val => {
            let data = Object.keys(val).map(function (key) { return val[key] })
            let cl = []
            data.forEach(row => {
                cl.push(row)
            })
            arr.push(cl)
        })

        return arr
    }

    new Vue({
        el: '#app',
        methods: {
            exportCsv(event) {
                const rows = bestClients
                let csvContent = "data:text/csv;charset=utf-8,";
                rows.forEach(function (rowArray) {
                    ;
                    let row = rowArray.join(",");
                    csvContent += row + "\r\n"; // add carriage return
                });

                var encodedUri = encodeURI(csvContent);
                var link = document.createElement("a");
                link.setAttribute("href", encodedUri);
                link.setAttribute("download", "clientes_que_mas_compraron.csv");
                document.body.appendChild(link); // Required for FF

                link.click(); //
            }
        }
    });
</script> {%- endblock %}