{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container" id="app">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Mostrar los productos que compro un cliente</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form method="POST">
                <div class="form-group">
                    <label for="client-name">Nombre del cliente</label>
                    <v-select :on-change="consoleCallback" :options="clients"></v-select>
                    <input type="hidden" name="clientName" v-model="selected" />
                    <small v-if="showMoreLettersAlert">
                        <span class="text-danger">Escribi por lo menos 3 letras</span>
                    </small>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    {% if products %}
        <div class="row">
            <div class="col-xs-12">
                Productos que compro el cliente: {{ client }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Productos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                            <tr>
                                <td>{{ p }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
<script src="https://unpkg.com/vue"></script>
<script src="http://unpkg.com/vue-select@2.0.0"></script>

<script>
    const clients = {{ clients|safe }};
    Vue.component('v-select', VueSelect.VueSelect);

    new Vue({
        el: '#app',
        data: {
            selected: '',
            clients,
            showMoreLettersAlert: false
        },
        methods: {
            consoleCallback(selected) {
                this.selected = selected
            }
        }
    });
</script>
{%- endblock %}