{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Los productos que mas se vendieron</h1>
        </div>
    </div>
    {% if mostProducts %}
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in mostProducts %}
                            <tr>
                                <td>{{ p['name'] }}</td>
                                <td>{{ p['quantity'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}