{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Droggery</h1>
            <p class="lead">Bienvenido al sistema de Droggery. En el menu superior podrá navegar por las distintas áreas del sistema.</p>
        </div>
        <div class="col-xs-12">
            <h3>Aqui aparece el listado de todos los datos disponibles</h3>
        </div>
        <div class="col-xs-12">
            {% include '_datatable.html' %}
        </div>
    </div>
</div>
{% endblock %}