{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="container" id="app">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Mostrar los clientes que compraron un producto</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form method="POST" @submit.prevent="validateThree">
                <div class="form-group">
                    <label for="product-name">Nombre del producto</label>
                    <v-select :on-change="consoleCallback" :options="products"></v-select>
                    <input type="hidden" name="productName" v-model="selected" />
                    <small v-if="showMoreLettersAlert">
                        <span class="text-danger">Escribi por lo menos 3 letras</span>
                    </small>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    {% if clients %}
        <div class="row">
            <div class="col-xs-12">
                Clientes que compraron el producto: {{ product }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Clientes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in clients %}
                            <tr>
                                <td>{{ c }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block custom_scripts %}
<script src="https://unpkg.com/vue"></script>
<script src="http://unpkg.com/vue-select@2.0.0"></script>

<script>
    const products = {{ products|safe }};
    Vue.component('v-select', VueSelect.VueSelect);

    new Vue({
        el: '#app',
        data: {
            selected: '',
            products,
            showMoreLettersAlert: false
        },
        methods: {
            consoleCallback(selected) {
                this.selected = selected
            },
            validateThree(event) {
                if (this.selected.length < 3) {
                    this.showMoreLettersAlert = true
                } else {
                    this.showMoreLettersAlert = false
                    event.target.submit()
                }
            }
        }
    });
</script>
{%- endblock %}